* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow-x: hidden;
}

.container,
.row {
    max-width: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

.navbar-logo {
    width: 70px;
    height: auto;
}

.navbar-custom {
    padding-left: 10px;
    /* ajuste este valor conforme necessário */
    padding-right: 15px;
    /* ajuste este valor conforme necessário */
    background-color: #256265;
    padding: 10px 5% !important;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.navbar-nav-center {
    margin: auto;
}

.carrossel {
    margin-top: 15px;
}

.carousel-item img {
    object-fit: cover;
    width: 100%;
    height: 800px;
}

.fs-2 {
    font-size: 2rem;
    /* Tamanho do ícone */
}

.mt-2 {
    margin-top: 0.5rem;
    /* Espaçamento superior */
}

.row {
    margin-bottom: 1.5rem;
    /* Espaço entre as linhas de conteúdo */
    /* home.css */

    /* Reset básico */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    /* Garantir que o body não tenha margens */
    body {
        margin: 0;
        overflow-x: hidden;
        /* Remove a barra de rolagem horizontal */
    }

    /* Ajustar largura máxima de elementos */
    .container,
    .row {
        max-width: 100%;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    /* Outros estilos que já estão no seu arquivo home.css */
}

li.nav-item a {
    color: aliceblue;
    text-decoration: none;
}

li.nav-item :hover {
    color: black;

}

.descricao .fa-solid,
.fas {
    font-weight: 900;
    color: #256265;
}